CustDB {

    iibEnv = "DEV"
    versionMajor = 1
    versionMinor = 0
    barfileDir = "BARfiles"
    applications = ["CustomerDatabaseV1", "CustomerDatabaseJava"]
    deployAsSource = Boolean.FALSE
    soapUIProject = "IIBCustDB-soapui-project.xml"
    soapUIParams = "-r -j"

    integrationNodes {
      intNode1 {
    		host = "localhost"
        port = "4414"
        intNode = "TESTNODE_iibuser"
        intServer = "default"
    }
  }
}
